VITE_BEATMAP_FEED_URL="MY_BEATMAP_FEED_URL"

VITE_CONTACT_FORM_SCRIPT="MY_CONTACT_FORM_SCRIPT"

SITE_PASSWORD="MY_VAULT_PASSWORD"

AUTH_SECRET="MY_RANDOM_SESSION_SIGNING_SECRET"

CONTACT_MESSAGES_FEED_URL="MY_CONTACT_MESSAGES_FEED_URL"
