.jumbotron {
    padding-top: 6rem;
    background-color: #CCDBDC;
    color: rgba(0, 0, 0, 0.9);
}

#about {
    background-color: #9AD1D4;
    color: rgba(0, 0, 0, 0.9);
}

#skill {
    background-color: #80CED7;
    color: rgba(0, 0, 0, 0.9);
}

#gallery {
    background-color: #68cbed;
    color: rgba(0, 0, 0, 0.9);
}


#contact {
    background-color: #4dbff4;
    color: rgba(0, 0, 0, 0.9);
}

section {
    padding-top: 5rem;
}

.nav-link:hover {
    transform: scale(1.06);
    transition: all 0.1s ease 0s;
}

#skl:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}

#image:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.1s ease 0s;
}

#image {
    opacity: 0.75;
}

#submit:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}