.jumbotron {
    padding-top: 6rem;
    background-color: #d6f2ff;
    color: rgba(0, 0, 0, 0.9);
}

#about {
    background-color: #b5e5ff;
    color: rgba(0, 0, 0, 0.9);
}

#skill {
    background-color: #a3e2ff;
    color: rgba(0, 0, 0, 0.9);
}

#gallery {
    background-color: #91dcff;
    color: rgba(0, 0, 0, 0.9);
}


#contact {
    background-color: #71d3fd;
    color: rgba(0, 0, 0, 0.9);
}

section {
    padding-top: 5rem;
}

.nav-link:hover {
    transform: scale(1.06);
    transition: all 0.1s ease 0s;
}

#skl:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}

#image:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.1s ease 0s;
}

#image {
    opacity: 0.75;
}

#submit:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}