.jumbotron {
    padding-top: 6rem;
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.9);
}

#about {
    background-color: rgb(30, 30, 30);
    color: rgba(255, 255, 255, 0.9);
}

#skill {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.9);
}

#gallery {
    background-color: rgb(30, 30, 30);
    color: rgba(255, 255, 255, 0.9);
}


#contact {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.9);
}

section {
    padding-top: 5rem;
}

.nav-link:hover {
    transform: scale(1.06);
    transition: all 0.1s ease 0s;
}

#skl:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}

#cwh:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.1s ease 0s;
}

#cwh {
    opacity: 0.75;
}

#submit:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}