.jumbotron {
    padding-top: 6rem;
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.9);
}

#about {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.9);
}

#gallery {
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.9);
}

#contact {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.9);
}

section {
    padding-top: 5rem;
}