@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@plugin "tailwind-scrollbar";
@source "../.flowbite-react/class-list.json";

body {
	background: url(/bg.webp);
	-webkit-background-size: cover;
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
	body {
		background-size: 400%;
		background-position: center;
	}
}

.font-merienda {
	font-family: "Merienda", cursive;
}

.font-quicksand {
	font-family: "Quicksand", sans-serif;
}

.neon {
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 50px rgb(147 197 253),
		0 0 50px rgb(147 197 253);
}

.neon-underline {
	color: #fff;
	box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 50px rgb(147 197 253),
		0 0 50px rgb(147 197 253);
}

.modal-backdrop {
	pointer-events: none;
}

/* tambahkan di index.css / global.css */
@keyframes shimmer {
	0% {
		background-position: -500px 0;
	}
	100% {
		background-position: 500px 0;
	}
}

.shimmer {
	background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
	background-size: 1000px 100%;
	animation: shimmer 1.5s infinite linear;
}
