@tailwind base;
@tailwind components;
@tailwind utilities;


body {  
    @apply transition duration-300;    
    font-family: 'Inter', sans-serif;
}


.navbar-fixed {
    @apply fixed z-[9999] bg-dark bg-opacity-80 backdrop-blur;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}


.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white transition duration-300 ease-in-out;
}


.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}


.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}


.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}