@tailwind base;
@tailwind components;
@tailwind utilities;


body {  
    @apply dark:bg-dark transition duration-300;    
    font-family: 'Inter', sans-serif;
}


.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-80 backdrop-blur dark:bg-dark dark:bg-opacity-50  ;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}


.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black dark:bg-white transition duration-300 ease-in-out;
}


.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}


.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}


.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}


.box {
    background: url(./../dist/img/antipole.jpg);
    -webkit-background-size: cover ;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 350px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}


#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-4;
}


#cursor {
    animation: blink 1s linear infinite;
}


@keyframes blink {
    0% {
        opacity: 100%;
    } 

    50% {
        opacity: 0%;
    }
}


@keyframes animate {
    0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}


@media screen and (max-width: 1000px){

.box{
    width: 300px;
    height: 300px;
}

}